@{
    ViewData["Title"] = "Home Page";
    Layout = "_EnhancedLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="row">
    <div class="col">
        <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index"><h2>Products</h2></a>
    </div>
    <div class="col">
        <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="Index"><h2>Categories</h2></a>
    </div>
</div>