@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <a class="nav-link" asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
</div>
<div>
<a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
</div>
